<header class="masthead mb-auto" style="margin-bottom: 0px!important">
  <div class="inner">
    <h3 class="masthead-brand">Damian Mocke</h3>
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</header>