<footer class="text-muted">
  <div class="container">
  <% if params[:action] == "show" && params[:controller] == "portfolios" %>

    <p class="col-md-5 float-right">
    	<%= link_to "View all Portfolio Items", portfolios_path %> /
    	<a href="#">Back to top</a>
    </p>

   <% end %>
		<p class= "col-md-7">
			<%= copyright_generator %>
		</p>
  </div>
</footer>