<main role="main" class="inner cover text-center">
  <h1 class="cover-heading">
  	Welcome <%= welcome_helper %>
	</h1>
  <p class="lead">Explore free code, guides, examples, tips and feedback from other developers. DevPort, A Developers Portfolio, made by developers for developers.</p>
  <p class="lead">
    <%= link_to 'About Me', about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</main>